// @import "nib"

// max-size()
// 	width: 100%
// 	height: 100%

// html
// 	// max-size()

// body
// 	margin: 0px
// 	// max-size()
// 	overflow: hidden
// 	background-color: gray
// 	// background: linear-gradient(top, white, black)

// .img-bg
// 	position: absolute
// 	max-size()
// 	top: 0px
// 	background-image: url("/scene/BG022AA.jpg")
// 	background-size: cover

// .right-nav
// 	position: absolute
// 	overflow: scroll
// 	width: 60px
// 	height: 100%
// 	top: 0px
// 	right: 0px

// .bottom-nav
// 	position: absolute
// 	width: 100%;
// 	height: 50px
// 	bottom: 0px
// 	left: 0px

// round-btn()
// 	width: 50px
// 	height: 50px
// 	display: block
// 	margin: 10px 10px auto auto
// 	border-radius: 50px

// color-btn(topColor, bottomColor, solidColor)
// 	background: linear-gradient(top, topColor, bottomColor)
// 	border: 2px solid solidColor

// .btn-round
// 	round-btn()
// 	color-btn #fff, #f00, #d00
