@import "nib"

#bg-home
	position: absolute
	width: 100%
	height: 100%
	background-image: url("/scene/BG022AA.jpg")
	background-size: cover

.right-nav
	position: absolute
	overflow: scroll
	width: 60px
	height: 100%
	top: 0px
	right: 0px
	background-color: gray
	opacity: 0.8

.home-btn-panel
	background-color: gray
	opacity: 0.9
	overflow-y: scroll
